In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/sample_data/flavorRecommender.csv')

In [2]:
df

    Age  Gender             Flavour
0     6    Male           Chocolate
1     6  Female          Strawberry
2     7    Male           Chocolate
3     8  Female          Strawberry
4    11    Male        Butterscotch
5    10  Female        Butterscotch
6    12    Male        Butterscotch
7    14  Female             Vanilla
8    15    Male               Mango
9    15  Female             Vanilla
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [3]:
df.shape

(20, 3)

In [4]:
df.head(10)

   Age  Gender       Flavour
0    6    Male     Chocolate
1    6  Female    Strawberry
2    7    Male     Chocolate
3    8  Female    Strawberry
4   11    Male  Butterscotch
5   10  Female  Butterscotch
6   12    Male  Butterscotch
7   14  Female       Vanilla
8   15    Male         Mango
9   15  Female       Vanilla

In [5]:
df.tail(10)

    Age  Gender             Flavour
10   17    Male               Mango
11   16  Female        Butterscotch
12   19    Male  Almond & Chocolate
13   18  Female        Butterscotch
14   20    Male  Almond & Chocolate
15   20  Female        Butterscotch
16   21    Male               Coffe
17   22  Female               Coffe
18   24    Male  Almond & Chocolate
19   24  Female               Coffe

In [6]:
df.count()

Age        20
Gender     20
Flavour    20
dtype: int64

In [7]:
df.dtypes

Age         int64
Gender     object
Flavour    object
dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder
Encd = LabelEncoder()
Encd.fit(['Male','Female'])

LabelEncoder()

In [10]:
df['Gender'] = Encd.transform(df['Gender'])

In [12]:
df.head(10)

   Age  Gender       Flavour
0    6       1     Chocolate
1    6       0    Strawberry
2    7       1     Chocolate
3    8       0    Strawberry
4   11       1  Butterscotch
5   10       0  Butterscotch
6   12       1  Butterscotch
7   14       0       Vanilla
8   15       1         Mango
9   15       0       Vanilla

In [13]:
x = df.drop(columns = ['Flavour'])
y = df.drop(columns = ['Age','Gender'])

In [14]:
x.head(10)

   Age  Gender
0    6       1
1    6       0
2    7       1
3    8       0
4   11       1
5   10       0
6   12       1
7   14       0
8   15       1
9   15       0

In [15]:
y.head(10)

        Flavour
0     Chocolate
1    Strawberry
2     Chocolate
3    Strawberry
4  Butterscotch
5  Butterscotch
6  Butterscotch
7       Vanilla
8         Mango
9       Vanilla

In [23]:
from sklearn.tree import DecisionTreeClassifier
Model = DecisionTreeClassifier()
Model.fit(x.values,y.values)

DecisionTreeClassifier()

In [24]:
age = 17
gender = Encd.transform(['Male'])
Model.predict([[age,gender]])

array(['Mango'], dtype=object)

In [25]:
def predict():
  age = input('Enter Age: ')
  g = input('Enter Gender: ')
  gender = Encd.transform([g])
  flavor = Model.predict([[age,gender]])
  print("Recommended Flavor : ", flavor[0])

In [26]:
predict()

Enter Age: 15
Enter Gender: Male
Recommended Flavor :  Mango